<!-- views/tour-packages.ejs -->
<section class="tour-hero">
  <h1>Tours & Packages</h1>
</section>

<section class="packages">
  <!-- Package Card -->
  <div class="package-card">
    <div class="package-image">
      <img src="https://www.goindigo.in/content/dam/s6web/in/en/assets/Destinations/destinations/Varanasi/Dashashwamedh%20Ghat%20Large.jpeg" alt="Varanasi Tour">
    </div>
    <div class="package-details">
      <h2>Varanasi 2D|1N</h2>
      <div class="rating-price">
        <span class="rating">⭐ 4.5</span>
        <span class="price">Rs 7499/-</span>
      </div>
      <p>
        Take a soulful break with our Haridwar and Rishikesh trip. Feel the calm of
        the Ganga Aarti, visit peaceful temples, and add a little thrill with river
        rafting and beach camping by the river. It's the perfect blend of peace,
        adventure, and unforgettable memories.
      </p>
      <div class="buttons">
        <button class="btn tickets">Tickets : 25</button>
        <button class="btn coming-soon">Coming Soon</button>
      </div>
      <div class="tags">
        <span>River Rafting</span>
        <span>Trakking</span>
        <span>Ganga Aarti</span>
        <span>DJ Night</span>
        <span>Bonfire</span>
      </div>
    </div>
  </div>
  <!-- Card 2  -->

  <div class="package-card">
    <div class="package-image">
      <img src="https://t4.ftcdn.net/jpg/08/95/32/37/360_F_895323772_yzvVND6WWEoRtqvxM6C4Ug3syTWlQ3fG.jpg" alt="Pachmari Tour">
    </div>
    <div class="package-details">
      <h2>Pachmari Package 3D|2N</h2>
      <div class="rating-price">
        <span class="rating">⭐ 4.0</span>
        <span class="price">Rs 5599/-</span>
      </div>
      <p>
        Experience the natural charm of Pachmarhi, the Queen of Satpura. This package covers top attractions like Bee Falls, Pandav Caves, Jata Shankar, and Dhupgarh. Perfect for nature lovers and spiritual seekers, enjoy a refreshing getaway amidst hills, waterfalls, and heritage sites.


      </p>
      <div class="buttons">
        <button class="btn tickets">Tickets : 25</button>
        <button class="btn coming-soon">Coming Soon</button>
      </div>
      <div class="tags">
        <span>Ac Travel</span>
        <span>Camp Stay</span>
        <span>Trakking</span>
        <span>Music Night</span>
        <span>Bonfire</span>
      </div>
    </div>
  </div>

  <!-- Card3 -->
   <div class="package-card">
    <div class="package-image">
      <img src="https://s7ap1.scene7.com/is/image/incredibleindia/ganga-ghat-haridwar1-attr-hero?qlt=82&ts=1726645870499" alt="Pachmari Tour">
    </div>
    <div class="package-details">
      <h2>Haridwar/Rishikesh Package 4D|3N</h2>
      <div class="rating-price">
        <span class="rating">⭐ 4.5</span>
        <span class="price">Rs 7499/-</span>
      </div>
      <p>
      Take a soulful break with our Haridwar and Rishikesh trip. Feel the calm of the Ganga Aarti, visit peaceful temples, and add a little thrill with river rafting and beach camping by the river. It’s the perfect blend of peace, adventure, and unforgettable memories.


      </p>
      <div class="buttons">
        <button class="btn tickets">Tickets : 25</button>
        <button class="btn coming-soon">Coming Soon</button>
      </div>
      <div class="tags">
        <span>River Rafting</span>
        <span>Trakking</span>
        <span>Ganga Aarti</span>
        <span>DJ Night</span>
        <span>Bonfire</span>
      </div>
    </div>
  </div>

  <!-- Card4 -->
      <div class="package-card">
    <div class="package-image">
      <img src="https://www.exoticmiles.com/wp-content/uploads/2024/01/Ram-Mandir-01.png" alt="Ayodhya Tour">
    </div>
    <div class="package-details">
      <h2>Ayodhya Package 2D|2N</h2>
      <div class="rating-price">
        <span class="rating">⭐ 4.5</span>
        <span class="price">Rs 3299/-</span>
      </div>
      <p>
    Join us on a soulful 2-day trip to Shri Ayodhya Dham. Take a holy dip in the Saryu River, visit Ram Janmabhoomi, explore Ram Mandir Corridor Market, witness the Saryu Aarti, and enjoy guided darshans. A perfect blend of spirituality, comfort, and cultural richness.


      </p>
      <div class="buttons">
        <button class="btn tickets">Tickets : 35</button>
        <button class="btn coming-soon">Coming Soon</button>
      </div>
      <div class="tags">
        <span>Saryu Snan</span>
        <span>Ram Janambhoomi</span>
        <span>Saryu Aarti</span>
        <span>Guided Darshan</span>
        <span>Hanuman Garhi</span>
      </div>
    </div>
  </div>


</section>
