<header class="main-header">
  <div class="logo">
    <img src="https://tirthghumo.in/wp-content/uploads/2025/04/cropped-cropped-TG-logo-black-1.png" alt="Tirthghumo Logo">
  </div>
  <nav class="main-nav">
    <ul>
      <li><a href="/" class="active">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/tour-packages">Tour Packages</a></li>
   
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <div class="join-community">
    <button class="join-btn">
      <span class="btn-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
          <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.783 5.372C.791 10.835 1 10 1 10s-1 3-1 3c-1.353 3.393 1.393 5.344 3.333 5.344C8.5 15.344 11 14 11 14s-1-3-1-3c.27-.478.486-.928.678-1.372C10.5 10.872 9.5 11.5 8 11.5c-1.5 0-2.5-.628-3.783-1.128"/>
        </svg>
      </span><a href="https://chat.whatsapp.com/H6HKxR24YytIxkv59Ml3Kq">
      JOIN OUR COMMUNITY</a>
    </button>
  </div>
  <button class="menu-toggle" aria-expanded="false" aria-controls="main-nav">
    <span class="hamburger"></span>
  </button>
</header>
